{% extends "base.html" %}
{% block content %}
    <h1>Edycja wzoru</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zapisz zmiany</button>
    </form>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }

        h1, h2, p {
            color: #333;
            text-align: center;
            margin-top: 20px;
        }

        p {
            font-size: 18px;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form input[type="text"],
        form textarea {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        form button {
            width: auto;
            padding: 10px;
            background-color: lightgrey; /* Blue color for save button */
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            display: block;
            margin: 0 auto 10px auto; /* Center the button and add bottom margin */
        }

        form button:hover {
            background-color: gray; /* Darker blue on hover */
        }
    </style>
{% endblock %}
